@model Demo.Views.Shared.Components.TableComponent.TableModel
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                @foreach (var header in Model.Headers)
                {
                    <th>@header</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Rows)
            {
            <tr>
                @foreach (var cell in row.Cells)
                {
                    <td>@cell</td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>